@charset "utf-8";

// パス
$imgPath: "../img/"; // 画像パス

// レイアウト
$baseWidth: 960px; // ページの横幅
$baseSpace: 8px; // スペース
$baseSideWidth: 200px; // ページの横幅
$baseMainWidth: 960px - $baseSideWidth - ($baseSpace * 2); // ページの横幅

// 画面カラー
$baseBgColor: #fff; // ベースバックグラウンドカラー
$baseColor: #eee; // ベースカラー
$subColor : #eee; // サブカラー
$accentColor : #333; // アクセントカラー

// テキスト
$baseFontFamily: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; // font-family
$baseFontSize: 13px; // フォントサイズ
$baseFontColor: #333; // フォントカラー
$baseLineHeight: 1.5; // 行間

$highlightFontColor: #fc0; // 強調カラー

$baseLink : #1d1daf; // リンクカラー
$baseLinkV: #df2222; // 同ヴィジテッド
$baseLinkH: #1d1daf; // 同ホバー
$baseLinkA: #1d1daf; // 同アクティブ

// Hack
$ie6: "* html";
$ie7: "*+html";
